.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting i {
  color: var(--gray-texts);
  margin-right: 20px;
  font-size: 22px;
}
.settings__setting-column:last-child {
  opacity: 0.5;
}
.settings__setting-new {
  display: flex;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  border: 2px solid tomato;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 600;
  color: tomato;
  margin-right: 10px;
}
